# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/2/db.jsx
src/2/server.js

mysql_info.json
/photo
/__pycache__/
server/new_server.py
server/__pycache__/
.gitignore
server/question/__pycache__/
server/migrations/
oldserver/migrations/
server/1.txt
oldserver/__pycache__/
oldserver/alembic.ini
server/text.py
server/alembic.ini
server/answer/__pycache__/
server/user/__pycache__/user_router.cpython-310.pyc
server/files/__pycache__/file_crud.cpython-310.pyc
server/files/__pycache__/file_router.cpython-310.pyc
server/files/__pycache__/file_schema.cpython-310.pyc
.gitignore
server/Untitled-1.ipynb
server/data/7e9b0012-e5f5-412d-80c4-b8436311871d.png
server/data/8eaab473-9a2e-4e9f-ad66-158dd8da8f0a.png
server/data/25e4f489-d70b-4f9c-bd0f-40cbd1a638d1.png
server/data/615606f0-4f22-4511-8a4e-f5a77f793695.png
server/data/b3995bf8-28b8-4b51-a89c-bff98d62d3c9.png
server/data/c40a3695-c483-4326-9669-cdecec75f04a.png
server/data/c306053a-3364-4c9d-8069-0aaf85069fb9.png
