//new_purchase

div {
  /* border: 1px solid red; */
}

.new_purchase-main {
  display: grid;
  place-content: center;
}
.new_purchase-text-30px {
  font-size: 30px;
}

.new_purchase-text-23px {
  font-size: 23px;
}

.new_purchase-text-bold {
  font-weight: 700;
}

.new_purchase-text-spacing {
  letter-spacing: 0.3rem;
}

.new_purchase-text-bg-gray {
  background-color: rgba($color: #eeeeee, $alpha: 1);
}

.new_purchase-border-top-bottom {
  border-top: 1px solid rgba($color: #999999, $alpha: 1);
  border-bottom: 1px solid rgba($color: #999999, $alpha: 1);
}

.new_purchase-height-50px {
  height: 50px;
}

.new_purchase-border-right {
  border-right: 1px solid rgba($color: #999999, $alpha: 1);
}
.new_purchase-pt-12px {
  padding-top: 12px;
}
.new_purchase-border {
  border: 1px solid rgba($color: #999999, $alpha: 1);
}

.new_purchase-input {
  height: 35px;
  width: 100%;
}

.new_purchase-input-readonly {
  border: 0px;
}
.new_purchase-input-write {
  border: 1px solid rgba($color: #aaaaaa, $alpha: 1);
  padding-left: 5px;
  border-radius: 4px;
  transition: 0.3s;
}

.new_purchase-input-write:focus {
  padding-left: 10px;
}

.new_purchase-button {
  border: 1px solid rgba($color: #aaaaaa, $alpha: 1);
  background-color: white;
  transition: 0.3s;
  border-radius: 4px;
  height: 35px;
  max-width: 300px;
  min-width: 300px;
}

.new_purchase-button:hover {
  background-color: gray;
  color: white;
}

.new_purchase-flex {
  display: flex;
}
